body, html {
	background-color: #ffffff;
}

.logo-container {
	padding-left: 35%;
	padding-right: 35%;
	margin-top: 2em;
}

.logo {
	width: 100%;
}

.language-box {
	display: inline-block;
	width:100%;
	margin-top: 1em;
	white-space: nowrap;
	display: block;
	text-align: center;
}

.language-button {
	font-weight: bold;
	font-size: 1em;
	color: black;
	text-align: center;
	border: 0;
	cursor: pointer;
}

.language-button:hover {
	color: #e1071d;
}

.language-delimiter {
	padding-right: 0.5em;
	padding-left: 0.5em;

}

.right-button {
}

.left-button {
}