html, body {
	margin: 0;
	padding: 0;
}

header {
	width: 100%;
	background: #9f0b1e;
	position: relative;
	padding: 0.5em;
	margin-bottom: 0;
	display: block;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-ms-box-sizing:border-box;
}

footer {
	width: 100%;
	position: relative;
	background-color: #E1CF9B;
	box-shadow: 0px 500px 0px 500px #E1CF9B;
	padding: 0.5em;
	box-sizing:border-box;  /** add this **/
	-moz-box-sizing:border-box; /** add this **/
	-webkit-box-sizing:border-box; /** add this **/
	-ms-box-sizing:border-box; /** add this **/
}

.header-logo {
	margin: 5px;
}

.main-container {
	margin-top: 0;
	margin-right: 10%;
	margin-left: 10%;
	padding: 2em;
	padding-top: 1em;
	background-color: beige;
	min-height: 60%;
}

.text {
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
	text-align: justify;
}

.social-footer {
	float:right;
	width: 6em;
	border-right: 1px solid #49311d;
	border-left: 1px solid #49311d;
	text-align: center;
	margin-right: 2em;
}

.social-item {
	margin: 0.5em;
	text-decoration: none;
}

.language-box {
	float:right;
}